<!DOCTYPE html>
<html>
    <head>
        <% include ../templates/head-meta %>
        <title>slicket</title>
        <% include ../templates/head-assets %>
    </head>
    <body>
        <div id="welcome-message">
             <h1>slicket</h1>
        </div>
    </body>
</html>