<!DOCTYPE html>
<html>

<head>
    <% include ../templates/head-meta %>
    <title>slicket</title>
    <% include ../templates/head-assets %>
</head>

<body>
    <div id="welcome-message" class="container">
        <div class="row">
            <div class="col-12">
                <h1>slicket</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div id="main-titles" class="col-12 d-none d-md-block">
                <div class="row">
                    <div class="col-5 offset-2 form-group">
                        <span>product</span>
                    </div>
                    <div class="col-3 form-group">
                        <span>price*</span>
                    </div>
                    <div class="col-2 form-group">
                        <span>quantity*</span>
                    </div>
                </div>
            </div>

            <div id="shop-list" class="col-12">
                <div class="row item-row">
                    <div class="col-12 col-md-2 remove-item">
                        <!-- <button type="button" class="btn btn-outline-danger btn-block">Remove</button> -->
                    </div>
                    <div class="col-12 col-md-5 form-group">
                        <input type="text" class="form-control" placeholder="product (optional)">
                    </div>
                    
                    <div class="col-8 col-md-3 form-group">
                        <input type="number" class="form-control item-price" placeholder="price*">
                    </div>
                    
                    <div class="col-4 col-md-2 form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">X</div>
                            </div>
                            <input type="number" class="form-control item-quantity" placeholder="quantity*">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <button id="add-item" type="button" class="btn btn-primary btn-lg btn-block">add item to list</button>
            </div>

            <div class="col-12"><hr></div>

            <div id="tip-row" class="col-12 row">
                <fieldset class="form-group col-8 row">
                        <legend class="col-12">Type of calculation</legend>
                        <div class="col-12 row">
                            <div class="form-check col-6">
                                <input class="form-check-input" type="radio" name="tipRadios" id="tip-radio-1" value="option1" checked>
                                <label class="form-check-label" for="tip-radio-1">
                                    percentage
                                </label>
                            </div>
                            <div class="form-check col-6">
                                <input disabled class="form-check-input" type="radio" name="tipRadios" id="tip-radio-2" value="option2">
                                <label class="form-check-label" for="tip-radio-2">
                                    hard
                                </label>
                            </div>
                        </div>
                </fieldset>

                <div class="form-group col-4">
                    <label for="tip-input">tip</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">%</div>
                        </div>
                        <input type="number" class="form-control" id="tip-input" placeholder="tip">
                    </div>
                </div>
            </div>

            <div class="col-12"><hr></div>

            <div id="summary" class="col-12">
                <span class="h3">Total: </span><span class="h4">$</span><span id="ticket-total" class="h1">0.0</span>
            </div>
            <div class="col-12">
                <button id="calculate-total" class="btn btn-outline-success btn-lg btn-block">Calculate total</button>
            </div>
        </div>
    </div>
</body>

</html>

